# Server Configuration
PORT=5000
NODE_ENV=development

# Database
MONGODB_URI=mongodb://localhost:27017/chat-app
# OR for MongoDB Atlas:
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/chat-app

# JWT Secret
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
JWT_EXPIRE=7d

CLOUDINARY_CLOUD_NAME=dmk5yjbtk
CLOUDINARY_API_KEY=864112727843668
CLOUDINARY_API_SECRET=bb02XfQVyTZ04kXXGBpuvRtRNJg

# Email Configuration (Gmail SMTP)
# IMPORTANT: Use Gmail App Password, NOT your regular Gmail password
# Steps to get App Password:
# 1. Go to Google Account Settings
# 2. Enable 2-Step Verification
# 3. Go to Security > 2-Step Verification > App passwords
# 4. Generate new app password for "Mail"
# 5. Copy the 16-character password and paste below
EMAIL_USER=roshanshaikh21122006@gmail.com
EMAIL_PASS=hnplgpjihruiglah

# Frontend URL
FRONTEND_URL=http://localhost:3000

# OTP Configuration
OTP_EXPIRE_MINUTES=5
